@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background-image: url('https://th.bing.com/th/id/R.21228762a3d9e9ed62dd633b465a7ee6?rik=Mds6%2b9gvLyTTLA&pid=ImgRaw&r=0');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  min-height: 100vh;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
}

.border-gradient {
  border-width: 4px; 
  border-style: solid; 
  border-image: linear-gradient(to right, #4F46E5, #A78BFA) 1; 
}